<div *ngFor="let insertion of insertions" [ngClass]="{'border-success': !insertion.closed, 'border-danger': insertion.closed}" class="card" style="margin: 5px;" > 
    <div class="card-body">
        <div class = "card-block float-right text-align-right">    
          <p class="card-text">by: &nbsp;{{insertion.insertionist ? insertion.insertionist.username : 'deleted user'}}&nbsp;<i class="far fa-user-circle"></i></p> 
          <p *ngIf = 'insertion.insertionist' class="card-text mb-2">from: &nbsp;{{insertion.insertionist.location}}</p> 
          <p class="card-text text-muted mb-2"><i class="far fa-clock"></i>&nbsp;{{insertion.insertion_timestamp | date}} / {{insertion.insertion_timestamp | date:'shortTime'}}</p>
        </div>
        <a [routerLink]="['/insertions', insertion._id]"><h2 class="card-title"><i class="fa fa-book"></i>&nbsp;{{insertion.title}}</h2></a>
        <h4 class="card-subtitle mb-2"> {{insertion.authors.join(' ')}}</h4>
        <h6 class="card-subtitle text-muted mb-2"> edition:&nbsp;{{insertion.edition}}</h6> 
        <p class="card-subtitle">{{ insertion.faculty }}</p>
        <p class="card-subtitle">{{ insertion.university }}</p>
        <p *ngIf='insertion.current_price' class="card-subtitle">{{ insertion.current_price }}</p>
        <p *ngIf='!insertion.closed' class="card-subtitle">Remaining time: {{ insertion.remaining_time }}</p>
       <!--- <span *ngFor="let tag of message.tags" class="badge badge-secondary tag">{{tag}}</span>--->
    </div>
</div>
