  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary fixed-top scrolling-navbar">
  
  
    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Auction Website</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!---<ul class="navbar-nav mr-auto nav-flex-icons">
        <li class="nav dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Search<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Title" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </li>
      </ul>--->
        
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <i class="fa fa-user"></i><span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
          </div>
        </li>
      </ul>
    </links
    >
    <!-- Collapsible content -->

  
  </mdb-navbar>
  <!--/.Navbar-->
  