<div class="container" style="width: 800px; margin-top: 20px;" >

    <div>  
        <h1 class="h3 mb-3 font-weight-normal">Statistics</h1>
    </div>

        <div *ngIf='mod_stats'>
            <div class='card' style="margin: 5px;">
                <div class="card-body">
                    <p>Active Insertions:&nbsp;<span style="color: dodgerblue">{{mod_stats.active_insertion_list}}</span></p>
                </div>
            </div>
            <div class='card' style="margin: 5px;">
                <div class="card-body">
                    <p>Insertions concluded successfully:&nbsp;<span style="color: dodgerblue">{{mod_stats.completed_insertion_list}}</span></p>
                </div>
            </div>
            <div class='card' style="margin: 5px;">
                <div class="card-body">
                    <p>Insertions concluded unsuccessfully:&nbsp;<span style="color: dodgerblue">{{mod_stats.unsuccesfully_completed_insertion_list}}</span></p>
                </div>
            </div>
        </div>

        <div *ngIf='student_stats'>
            <div class='card' style="margin: 5px;">
                <div class="card-body">
                    <p>Created Insertions:</p>
                    <div *ngIf="!student_stats.insertion_list.length" class="container text-center my-4">
                        <h5>No insertions to show</h5>
                    </div>
                    <div *ngFor='let ins of student_stats.insertion_list' class='card' style="margin: 5px;">
                        <div class="card-body">
                            <a [routerLink]="['/insertions', ins._id]">{{ins.title}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='card' style="margin: 5px;">
                <div class="card-body">
                    <p>Insertions you have partecipated:</p>
                    <div *ngIf="!student_stats.participation_list.length" class="container text-center my-4">
                        <h5>No insertions to show</h5>
                    </div>
                    <div *ngFor='let ins of student_stats.participation_list' class='card' style="margin: 5px;">
                        <div class="card-body">
                            <a [routerLink]="['/insertions', ins._id]">{{ins.title}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='card' style="margin: 5px;">
                <div class="card-body">
                    <p>Won Insertions:</p>
                    <div *ngIf="!student_stats.winner_list.length" class="container text-center my-4">
                        <h5>No insertions to show</h5>
                    </div>
                    <div *ngFor='let ins of student_stats.winner_list' class='card' style="margin: 5px;">
                        <div class="card-body">
                            <a [routerLink]="['/insertions', ins._id]">{{ins.title}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

