<div class="container" style="width: 800px; margin-top: 20px;" >

    <div>  
        <h1 class="h3 mb-3 font-weight-normal">Private Chats</h1>
    </div>

    <div *ngIf="chats && !chats.length" class="container text-center my-4">
        <h3>No chats to show</h3>
    </div>

    <div *ngFor="let chat of chats" (click)="goToChat(chat)" class="card" style="margin: 5px; cursor:pointer;" [ngStyle]="{'background-color': !isRead(chat) ? 'rgb(241, 234, 148)' : ''}"> 
        <div class="card-body">
            <h4 class="card-subtitle mb-2">
                <i class = 'fa fa-user-circle'></i> 
                {{get_other_user(chat)}} 
                <span *ngIf = '!get_insertion(chat)'  style="color: tomato">Insertion Deleted</span>
                <span *ngIf = 'get_insertion(chat)' class="text-muted">{{chat.insertion_id.title}}</span>
                <small *ngIf = "chat.messages.length" class="float-right text-align-right text-muted my-2" style= "font-size: 60%;">
                    <i class="far fa-clock"></i>&nbsp;
                    {{chat.messages[chat.messages.length-1].timestamp  | date}} / {{chat.messages[chat.messages.length-1].timestamp  | date:'shortTime'}} 
                </small>
            </h4>
            <p>{{get_last_message(chat)}}</p>
        </div>
    </div>

</div>

