<div class="jumbotron">
    <div class="container">
        <div class="form-group">
            <!--<label for="messagetext">Message</label>-->
            <textarea class="form-control" [(ngModel)]="message" #messagetx id="messagetext" 
            rows="3" (keyup.enter)="post_message()" placeholder="Enter your message here"></textarea>
        </div>
    
        <button type="submit" class="btn btn-primary" (click)="post_message()" >Post <i class="fas fa-paper-plane"></i></button>
    </div>
</div>