<div *ngIf = 'insertion' [ngClass]="{'border-success': !insertion.closed, 'border-danger': insertion.closed}" class="card mb-3" style="margin: 5px;" 
[ngStyle]="{'background-color': insertion.closed ? 'rgb(245, 175, 158)' : 'rgb(191, 238, 191)'}"> 

    <div [ngClass]="{'bg-success': !insertion.closed, 'bg-danger': insertion.closed}" class="card-header p-3 mb-2 text-black">
        <h5 *ngIf='!insertion.closed' class ="float-left font-weight-bold">OPEN</h5>
        <h5 *ngIf='insertion.closed' class ="float-left font-weight-bold">CLOSED</h5>
        <h5 *ngIf='!insertion.closed' class ="float-right text-align-right"><b class = "font-weight-bold">Remaining time: </b>{{ insertion.remaining_time }}</h5>
    </div>

    <div class="card-body">

        <div class = "card-block float-right text-align-right">    
            <p class="card-text">by: &nbsp; {{insertion.insertionist ? insertion.insertionist.username : 'deleted user'}}&nbsp;<i class="far fa-user-circle"></i></p> 
            <p *ngIf = 'insertion.insertionist' class="card-text mb-2">from: &nbsp;{{insertion.insertionist.location}}</p> 
            <p class="card-text text-muted mb-2"><i class="far fa-clock"></i>&nbsp;{{insertion.insertion_timestamp | date}} / {{insertion.insertion_timestamp | date:'shortTime'}}</p>
        </div>
        <h2 class="card-title"><i class="fa fa-book"></i>&nbsp;{{insertion.title}} &nbsp;
            <button class ="btn btn-outline-dark text-align-right" 
            *ngIf="!insertion.closed && hasToken() && ((getToken().mod && getToken().validated) || getToken().id == insertion.insertionist._id)" 
            [routerLink]="['/editinsertion', insertion._id]" >
                <i class="fa fa-edit"></i>
            </button>
            <button class ="btn btn-outline-dark text-align-right" 
            *ngIf="hasToken() && getToken().mod && getToken().validated" 
            (click) = "delete_insertion()">
                <i class="fa fa-trash"></i>
            </button>
        </h2>
        <h4 class="card-subtitle mb-2"> {{insertion.authors.join(' ')}}</h4>
        <h6 class="card-subtitle text-muted mb-2"> edition:&nbsp;{{insertion.edition}}</h6> 
        <p class="card-subtitle">{{ insertion.faculty }}</p>
        <p class="card-subtitle">{{ insertion.university }}</p>
        <br><br>
        <h6 class="card-subtitle">Current winner: {{ get_current_winner() }}</h6>
        <h6 class="card-subtitle text-center text-muted mb-2">Start price: {{ insertion.start_price | currency }}</h6>
        <h6 class="card-subtitle text-center">Current price: {{ get_current_price() | currency }}</h6>
        <h6 *ngIf="hasToken() && ((getToken().mod && getToken().validated) || getToken().id == insertion.insertionist._id)" class="card-subtitle text-center my-1">Reserve price: {{ insertion.reserve_price | currency }}</h6>

        <div *ngIf="!insertion.closed && hasToken() && !getToken().mod && getToken().id != insertion.insertionist._id" class="form-group text-center">
            <input type="text" #price required name="price" class="form-control text-center my-1" style="width: 200px; margin:auto;" placeholder="Enter price">
    
            <div *ngIf="errmessage" class="alert alert-danger" role="alert" style="width: 200px; margin:auto;" >
                Error: {{errmessage}}
            </div>
            
            <button class='btn btn-outline-success my-2 my-sm-2'(click)="put_price(price.value);">Bet</button>
        </div>



        <!--- <span *ngFor="let tag of message.tags" class="badge badge-secondary tag">{{tag}}</span>--->
    </div>
</div>

<div *ngIf = 'insertion'>

    <app-message-post *ngIf = 'hasToken()' isAnswer="false" (posted)="get_insertion()"></app-message-post>
    <h4 *ngIf = 'insertion.messages.length' class="font-weight-bold mb-3" style="margin: 3px;">Questions and Answers:</h4>

    <div *ngFor = "let message of insertion.messages" class = "card mb-3 border-dark" style="margin: 3px; background-color: rgb(246, 241, 190)" >
        <div class="container">
            <div class="card-body mr-2 ml-2">
                <button *ngIf = 'hasToken()' type="submit" class="btn btn-outline-dark float-right text-align-right" routerLink="/insertions/{{insertion._id}}/public_message/{{message._id}}">
                    Reply <i class="fa fa-reply"></i>
                </button>  
                <h5 class="card-title"><i class="fa fa-user"></i>&nbsp;{{message.author ? message.author.username : 'deleted user'}}</h5>      
                <h6 class="card-subtitle mb-2 text-muted">{{message.timestamp | date}} / {{message.timestamp | date:'shortTime'}}</h6>
                <p class="card-text">{{ message.content }}</p>
                <h6 *ngIf = 'message.responses.length' class="font-weight-bold" style="margin-left: 50px; margin-right: 50px;">Answers:</h6>
                <span *ngFor="let response of message.responses" class="card mb-3 border-dark" style="margin-left: 50px; margin-right: 50px;">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-user"></i>&nbsp;{{response.author ? response.author.username : 'deleted user'}}</h5>        
                        <h6 class="card-subtitle mb-2 text-muted">{{response.timestamp | date}} / {{response.timestamp | date:'shortTime'}}</h6>
                        <p class="card-text">{{ response.content }}</p>
                    </div>
                </span>
            </div>
        </div>
    </div>


</div>

 
 
